# Archivos temporales de Office
~$*

# Configuración de IDE JetBrains (PyCharm/IntelliJ)
.idea/
# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.lol
*.loa
*.bcf
*.run.xml
*.bbl
*.blg
*-blx.bib
*.xdv
*.synctex.gz
*.dvi
*.fls
*.fdb_latexmk
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.nav
*.snm
*.vrb
_minted-*/
*.pyg
*.dpth
*.md5
*.auxlock
*.bak